<!-- <main class="main">

</main>

<router-outlet /> -->

<!-- <div class="card flex justify-content-center">
  <p-accordion value="0">
    <p-accordion-panel
      [value]="i"
      *ngFor="let card of categories | keyvalue; index as i"
    >
      <p-accordion-header>
        <ng-template #toggleicon let-active="active">
          @if (active) {
          <i class="pi pi-minus"></i>
          } @else {
          <i class="pi pi-plus"></i>
          }
        </ng-template>
        <span class="flex items-center gap-2 w-full">
          <p-avatar
          [label]="card.key | acronym:3"
            shape="circle"
          />
          <span class="font-bold whitespace-nowrap">{{card.key}}</span>
          <p-badge [value]="card.value.length" class="ml-auto mr-2" />
        </span>
      </p-accordion-header>
      <p-accordion-content>
        <app-category-section [cards]="card.value" [categoryName]="card.key"></app-category-section>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div> -->

<div class="container mx-auto min-h-full flex flex-col items-center">
  <div class="flex flex-col items-center w-3/4 p-4">
    <div class="flex justify-center items-center">
      <h1 class="p-2 text-6xl font-extrabold">Cardboard Crack</h1>
    </div>
    <div>
      <app-panel-card *ngFor="let card of categories | keyvalue; index as i" [header]="card.key">
        <app-category-section
          [cards]="card.value"
          [categoryName]="card.key"
        ></app-category-section>
      </app-panel-card>
    </div>
  </div>
</div>
