<h2 class="p-4 text-xl font-bold">Upload Checklist for Parsing</h2>

<p-panel class="flex flex-col text-center justify-center w-full space-y-6 pb-4">
  <p-message severity="info" class="text-lg">
    This parser is only designed to support Topps PDF-based checklists at this
    time. Ensure that your file meets the expected format.
  </p-message>

  <app-parser-instructions></app-parser-instructions>

  <div
    class="flex flex-col md:flex-row justify-center items-center py-6 space-y-4 md:space-y-0 md:space-x-8 w-full"
  >
    <div class="w-full md:w-auto">
      <p-fileUpload
        name="pdf"
        accept="application/pdf"
        (onSelect)="onFileSelected($event)"
        customUpload="true"
        [auto]="true"
        [showUploadButton]="false"
        class="w-full"
      ></p-fileUpload>
    </div>
    <div class="w-full md:w-auto">
      <p-select
        [options]="options"
        [(ngModel)]="selectedOption"
        optionLabel="name"
        placeholder="Select a Product Type"
        class="w-full md:w-56"
      />
    </div>
  </div>

  <!-- Centered Parse Button -->
  <div class="flex justify-center">
    <button
      pButton
      type="button"
      label="Parse PDF"
      class="p-button-primary"
      pTooltip="Select File & Checklist Type"
      tooltipPosition="bottom"
      [tooltipDisabled]="!shouldDisableParseButton()"
      [disabled]="shouldDisableParseButton()"
      (click)="onParsePdf()"
    ></button>
  </div>

  <div class="text-sm m-4">
    <p>
      If you encounter any issues during parsing, ensure the uploaded file
      matches the format requirements or contact support for assistance.
    </p>
  </div>
</p-panel>

<p-divider class="my-8"></p-divider>

<h2 class="p-4 text-xl font-bold">Verify & Edit Parsed Checklist</h2>
<div class="mb-6 px-6 space-y-6">
  <p class="text-left">
    Below is the parsed checklist data. Please review and make any necessary
    edits. Once you're satisfied, you can export the final version for your
    records.
  </p>

  <div class="mt-6">
    <app-keyboard-shortcuts-panel></app-keyboard-shortcuts-panel>
  </div>

  <!-- 
  TODO Need to add a Finalize Edit OR Export Button Here, opens to a confirm modal
  Probably should add in a way to add a custom name to the exported file

  Idea: Button Export -> Opens to a Export Modal, User can enter file name -> Confirm/Exit
  Generates/Downloads the JSON file

  Future:
  Export Zip - Contains the JSON, Original File, Validation File
    -->
</div>

<div class="p-4">
  <ng-container>
    <app-json-editor [inputData]="extractedText"></app-json-editor>
  </ng-container>
</div>
<div class="p-4">
  <app-topps-disclaimer></app-topps-disclaimer>
</div>
