<h2 class="p-4 text-xl font-bold">{{ strings.UPLOAD_HEADER }}</h2>

<p-panel class="flex flex-col text-center justify-center w-full space-y-6 pb-4">
  <p-message severity="info" class="text-lg">
    {{ strings.PARSER_WARNING_STATEMENT }}
  </p-message>

  <app-parser-instructions></app-parser-instructions>

  <div
    class="flex flex-col md:flex-row justify-around items-center py-8 space-y-4 md:space-y-0 md:space-x-12 w-3/4 m-auto"
  >
    <div class="w-full md:w-auto">
      <p-fileUpload
        name="pdf"
        accept="application/pdf"
        (onSelect)="onFileSelected($event)"
        mode="basic"
        [chooseLabel]="strings.FILE_UPLOAD_LABEL"
        chooseIcon="pi pi-upload"
        class="w-full"
      ></p-fileUpload>
    </div>
    <div class="w-full md:w-auto">
      <p-select
        [options]="options"
        [(ngModel)]="selectedOption"
        optionLabel="name"
        [placeholder]="strings.PRODUCT_TYPE_SELECT_PLACEHOLDER"
        class="w-full md:w-56"
      />
    </div>
  </div>

  <div class="flex justify-center">
    <button
      pButton
      type="button"
      [label]="strings.PARSE_BUTTON_LABEL"
      class="p-button-primary"
      [pTooltip]="tooltips.PARSE_BUTTON_DISABLED"
      tooltipPosition="bottom"
      [tooltipDisabled]="!shouldDisableParseButton()"
      [disabled]="shouldDisableParseButton()"
      (click)="onParsePdf()"
    ></button>
  </div>

  <div class="text-sm m-4">
    <p>
      {{ strings.PARSER_ISSUES_MESSAGE }}
    </p>
    <div
      appOpenGithubIssues
      class="cursor-pointer text-blue-500 hover:text-blue-700 hover:underline focus:outline-none focus:ring-2 focus:ring-blue-400 py-2"
    >
      Open GitHub Issues
    </div>
  </div>
</p-panel>

<p-divider class="my-8"></p-divider>

<h2 class="p-4 text-xl font-bold">{{ strings.VERIFY_HEADER }}</h2>
<div class="px-6 space-y-6">
  <p class="text-left">
    {{ strings.VERIFY_MAIN_MESSAGE }}
  </p>

  <div>
    <app-keyboard-shortcuts-panel></app-keyboard-shortcuts-panel>
  </div>

  <div class="flex flex-row items-center space-x-4">
    <p class="py-2">{{ strings.EXPORT_MESSAGE }}</p>
    <p-button
      [label]="strings.EXPORT_BUTTON_LABEL"
      [raised]="true"
      severity="secondary"
      (onClick)="openExportDialog()"
      [disabled]="shouldDisableExport()"
      [pTooltip]="tooltips.EXPORT_BUTTON_DISABLED"
      tooltipPosition="bottom"
      [tooltipDisabled]="!shouldDisableExport()"
    />
  </div>
</div>

<div class="p-4">
  <ng-container>
    <app-json-editor #editorEl [inputData]="extractedText"></app-json-editor>
  </ng-container>
</div>
<div class="p-4">
  <app-topps-disclaimer></app-topps-disclaimer>
</div>
